GameType = bg2
# Linux path
GamePath = /home/goddard/GOG Games/Baldurs Gate 2 Complete/prefix/drive_c/GOG Games/Baldur's Gate 2/
# Windows path
# GamePath  = C:/GOG Games/Baldur's Gate 2

## Needs to be set so we can find important files
GemRBPath = ./install/gemrb/gemrb/

# PluginsPath = ./install/gemrb/plugins/
CachePath = ./install/gemrb/Cache2-bg2/
UseAsLibrary = 1
AudioDriver = none

# Change this to 1 on Linux unless you are using NTFS (o_O)?
CaseSensitive = 1

Logging = 1
ScaleQuality = 0
Fullscreen=1
# Show unexplored parts of a map
GCDebug=1536

# Enable debug and cheat keystrokes, see docs/en/CheatKeys.txt for full listing
EnableCheatKeys=1

# Developer debug mode toggle (see DebugMode enum)
DebugMode=1

Width = 3840
Height = 2160

############### PROJECT IE 4K SPECIFIC ########################################
UpScaleFactor = 4

# Game specific palette files
Palettes = MPAL256.BMP,MPALETTE.BMP

# Makes things slightly faster
RetainCache = 1

MaxCPU = 100
MaxRAM = 95
MaxGPU = 100
MaxVRAM = 90

ResourceKnownBad = XR0509,XR1010,XR1401,XR1700,XR1801,XR2012,XR2400,XR2600,XR2600AC,XR5402,XR5403,XR5404,XR5405,XR5506,CNPARM,WPMH6INV,XR0509HT,XR0509LM,XR0509SR,XR1010HT,XR1010LM,XR1010SR,XR1401HT,XR1401LM,XR1401SR,XR1700HT,XR1700LM,XR1700SR,XR1801HT,XR1801LM,XR1801SR,XR2012HT,XR2012LM,XR2012SR,XR2400HT,XR2400LM,XR2400SR,XR2600HT,XR2600LM,XR2600SR,XR5402HT,XR5402LM,XR5402SR,XR5403HT,XR5403LM,XR5403SR,XR5404HT,XR5404LM,XR5404SR,XR5405HT,XR5405LM,XR5405SR,XR5506HT,XR5506LM,XR5506SR

# Currently only 1 GPU supported
UsableGPUIDs = 0

# Global defaults
NCNNModelPath = models/ncnn/
UpscalerModel = upscayl-ultrasharp-v2
# Plugin Specific
BAMUpscalerModel = upscayl-ultrasharp-v2
BMPUpscalerModel = upscayl-ultrasharp-v2
PNGUpscalerModel = upscayl-ultrasharp-v2
TISUpscalerModel = upscayl-ultrasharp-v2
MOSUpscalerModel = upscayl-ultrasharp-v2
PLTUpscalerModel = upscayl-ultrasharp-v2